body {
  border-radius: .2rem;
  height: 100%;
  font-size: .8rem;
  line-height: 1rem;
  color: #777;
  font-weight: 500;
  font-family: 'Spartan', sans-serif;
  letter-spacing: .15rem;
  line-height: 1.05rem;
  
}

a:hover {
  color: #FFF
}

.navbar-brand {
  padding: 1rem
}

[role=button] {
  cursor: pointer
}

.design-modal .design-modal-title {
  font-size: 1.25rem;
  line-height: 2rem
}

@media (min-width:992px) {
  .design-modal .design-modal-title {
    font-size: 1.5rem;
    line-height: 2.5rem
  }
}

.fg-container {
  margin-bottom: 0 !important;
  padding-bottom: 0rem;


}



.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion:reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, .2);
  border-radius: .75rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0 solid #dee2e6;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5
}

.modal-body {
  background-color: rgba(27, 27, 27, 1);
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 1rem -.25rem;
  border-top: 0 solid #dee2e6;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem
}

.modal-footer>* {
  margin: .25rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem)
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem)
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content
  }

  .modal-sm {
    max-width: 300px
  }
}

@media (min-width:992px) {

  .modal-lg,
  .modal-xl {
    max-width: 800px
  }
}

@media (min-width:1200px) {
  .modal-xl {
    max-width: 1140px
  }
}

.fade {
  transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
  .fade {
    transition: none
  }
}

.fade:not(.show) {
  opacity: 0
}

.design-modal .close {
  position: absolute;
  z-index: 1;
  right: 5.5rem;
  top: 2rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #aaa;
  opacity: .5
}

.button-menu {
  border-radius: 30px;
  border: solid #FFF 0;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(240, 240, 240)
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[role=button] {
  cursor: pointer
}

select {
  word-wrap: normal
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 rgb(2, 2, 2);
  opacity: .5
}

.close:hover {
  color: #000;
  text-decoration: none
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: .75
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0
}

a.close.disabled {
  pointer-events: none
}

.design .design-item {
  cursor: pointer;
  position: relative;
  isplay: inline-block;
  ax-width: 25rem;
  float: none;
  overflow: hidden;
  -webkit-transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  transition: all .6s cubic-bezier(.13, .81, .59, 1.02)
}

.design .design-item:hover {
  cursor: pointer;
  position: relative;
  transform: scale(1.05);
  z-index: 100;
  -webkit-transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, .822)
}

.design .design-item .design-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease-in-out;
  opacity: 0
}

.design .design-item .design-item-caption:hover {
  opacity: 1
}

.design .design-item .design-item-caption .design-item-caption-content {
  font-size: 1.5rem
}

.design-modal .design-modal-title {
  font-size: 1.25rem;
  line-height: 2rem
}

@media (min-width:992px) {
  .design-modal .design-modal-title {
    font-size: 1.5rem;
    line-height: 2.5rem
  }
}

.design-modal .close {
  position: absolute;
  z-index: 1;
  right: 5.5rem;
  top: 2rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #aaa;
  opacity: .5
}

.mast {
  top: 100px;
  height: 100px;
  position: relative;
  text-align: center
}



.navShade {
  box-shadow: 8px 10px 12px rgba(121, 121, 121, .271) !important;
  height: 3rem;
  transition: 500ms;
  
}

#mainNav {
  height: 4rem;
  transition: 300ms;
 background: #f0f0f0;
  z-index: 22;
}

mainNav:hover {
  ackground: rgba(200, 200, 200, 1)
}

.text-md-primary {
  color: rgba(240, 240, 240)
}

.nav-link-dk {
  
}

.main-section-heading {
  top: 100px;
  padding: 1.75rem
}

.nav-md-item {
  color: rgb(240, 240, 240);
  display: block;
  padding: .5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

.nav-link:hover {
  color: rgb(240, 128, 128) !important;
  ackground: rgb(93, 93, 93);
  ilter: invert(100%);
  animation: beamSweep;
  -o-animation: beamSweep;
  -moz-animation: beamSweep;
  -webkit-animation: beamSweep;
  animation-direction: foward;
  -o-animation-direction: alternate-reverse;
  -moz-animation-direction: forward;
  -webkit-animation-direction: aalternate-reverse;
  animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  -moz-animation-timing-function: linear;
  animation-iteration-count: 1
}

@keyframes beamSweep {
  0% {
    pacity: 0;
    background-image: linear-gradient(to right, rgba(160, 160, 160, 0) 60%, rgb(240, 128, 128));
    outline: 100% 0% 0% 100%;
    ilter: blur(1px)
  }

  50% {
    pacity: 1;
    ill: rgba(0, 0, 0, 1);
    background-image: linear-gradient(to right, rgb(240, 128, 128) 10%, rgba(255, 0, 128, 0));
    ilter: invert(100%)
  }

  100% {
    pacity: 0;
    ill: none;
    ransform: rotate3d(24, 24, 240, 180deg);
    ransform: scale(1);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 100%, rgb(240, 128, 128))
  }
}

;

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, .904)
}

.navbar-expand-lg {
  display: flex !important;
  flex-basis: auto
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center
}

.ml-auto,
.mx-auto {
  margin-left: auto !important
}

.navbar-toggler-icon {
  color: rgb(240, 240, 240);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
}

.cross-icon {
  display: inline-block;
  width: .75em;
  height: .75em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg id="cross" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.83 37.83"><polygon points="37.83 2.46 35.37 0 18.91 16.45 2.46 0 0 2.46 16.45 18.91 0 35.37 2.46 37.83 18.91 21.37 35.37 37.83 37.83 35.37 21.37 18.91 37.83 2.46" style="fill:rgb(0,0,0);stroke:black;stroke-width:1"/></svg>')
}

.cross-icon #cross {
  width: 2em;
  height: 2em
}

[role=button] {
  cursor: pointer
}

.design-modal .design-modal-title {
  font-size: 1.25rem;
  line-height: 2rem
}

@media (min-width:992px) {
  .design-modal .design-modal-title {
    font-size: 1.5rem;
    line-height: 2.5rem
  }
}

.modal-open {
  overflow: hidden
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px)
}

@media (prefers-reduced-motion:reduce) {
  .modal.fade .modal-dialog {
    transition: none
  }
}

.modal.show .modal-dialog {
  transform: none
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02)
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, .2);
  border-radius: .75rem;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0
}

.modal-backdrop.show {
  opacity: .5
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0 solid #dee2e6;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5
}

.modal-body {
  background-color: rgba(27, 27, 27, .267);
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 1rem -.25rem;
  border-top: 0 solid #dee2e6;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem
}

.modal-footer>* {
  margin: .25rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem)
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem)
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content
  }

  .modal-sm {
    max-width: 300px
  }
}

@media (min-width:992px) {

  .modal-lg,
  .modal-xl {
    max-width: 800px
  }
}

@media (min-width:1200px) {
  .modal-xl {
    max-width: 1140px
  }
}

.fade {
  transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
  .fade {
    transition: none
  }
}

.fade:not(.show) {
  opacity: 0
}

.design-modal .close {
  position: absolute;
  z-index: 1;
  right: 5.5rem;
  top: 2rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #aaa;
  opacity: .5
}

.button-menu {
  border-radius: 30px;
  border: solid #FFF 0;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(240, 240, 240)
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[role=button] {
  cursor: pointer
}

select {
  word-wrap: normal
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 rgb(2, 2, 2);
  opacity: .5
}

.close:hover {
  color: #000;
  text-decoration: none
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: .75
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0
}

a.close.disabled {
  pointer-events: none
}

.design .design-item {
  cursor: pointer;
  position: relative;
  float: none;
  overflow: hidden;
  -webkit-transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  transition: all .6s cubic-bezier(.13, .81, .59, 1.02)
}

.design .design-item:hover {
  cursor: pointer;
  position: relative;
  transform: scale(1.05);
  z-index: 100;
  -webkit-transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  transition: all .6s cubic-bezier(.13, .81, .59, 1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, .822)
}

.design .design-item .design-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease-in-out;
  opacity: 0
}

.design .design-item .design-item-caption:hover {
  opacity: 1
}

.design .design-item .design-item-caption .design-item-caption-content {
  font-size: 1.5rem
}

.design-modal .design-modal-title {
  font-size: 1.25rem;
  line-height: 2rem
}

@media (min-width:992px) {
  .design-modal .design-modal-title {
    font-size: 1.5rem;
    line-height: 2.5rem
  }
}

.design-modal .close {
  position: absolute;
  z-index: 1;
  right: 5.5rem;
  top: 2rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #aaa;
  opacity: .5;
}

.mast {
  top: 100px;
  height: 100px;
  position: relative;
  text-align: center;
}

.primary-dark-bg {
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(to top, rgba(240, 240, 240, 1) 75% 50%, rgb(220, 220, 220));
  transition: 1s;
  
}

.dark1-bg {
  background: rgba(25, 25, 25, 1) !important
}

.text-md-primary {
  color: rgb(240, 240, 240)
}

.main-section-heading {
  top: 100px;
  padding: 1.75rem
}

.nav-item {
  color: rgb(240, 240, 240) !important;
  padding-left: 2rem;
}

@media (min-width: 1000px) {
.nav-item {
  color: rgb(240, 240, 240) !important;
  padding-left: 0rem;
}
}

.nav-link {
  color: rgb(49, 49, 49) !important
}

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, .904)
}

.navbar-expand-lg {
  display: flex !important;
  flex-basis: auto
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center
}

.ml-auto,
.mx-auto {
  margin-left: auto !important
}

.navbar-toggler-icon {
  color: rgb(240, 240, 240);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.cross-icon {
  display: inline-block;
  width: .75em;
  height: .75em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg id="cross" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.83 37.83"><polygon points="37.83 2.46 35.37 0 18.91 16.45 2.46 0 0 2.46 16.45 18.91 0 35.37 2.46 37.83 18.91 21.37 35.37 37.83 37.83 35.37 21.37 18.91 37.83 2.46" style="fill:rgb(0,0,0);stroke:black;stroke-width:1"/></svg>')
}

.videoIcon {
  display: inline;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  margin: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.32 31.67"><path d="M36.71,5.59l-5,5v-7A3.67,3.67,0,0,0,28,0H3.67A3.67,3.67,0,0,0,0,3.67V28a3.67,3.67,0,0,0,3.67,3.67H28A3.67,3.67,0,0,0,31.67,28V21l5,5a3.28,3.28,0,0,0,5.61-2.32V7.91A3.28,3.28,0,0,0,36.71,5.59Z" style="stroke:white;fill:rgba(22,22,22,.1);"/></svg>')
}

.circle {
  width: 8rem;
  height: 8rem;
  opacity: .5;
  animation: animate;
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 202"><path d="M101,7A94,94,0,1,1,7,101,94.11,94.11,0,0,1,101,7m0-7A101,101,0,1,0,202,101,101,101,0,0,0,101,0Z" style="fill:lightcoral;" /></svg>');
  animation-duration: 800ms;
  animation-timing-function: linear;
  z-index: 1000
}

.linkedin {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M42.18,44.15H5.78c-1.67-.84-2.07-2.28-2.01-4.02,.07-2.03,.02-4.06,.02-6.09,0-8.88,0-17.76,0-26.65,0-1.12,.16-2.25,1.18-2.85,.69-.41,1.57-.66,2.37-.67,8.38-.05,16.76-.03,25.14-.03,2.77,0,5.53,0,8.3,0,1.96,0,3.12,1.07,3.32,2.51,.01,.1,.1,.18,.15,.28V41.46c-.29,1.2-.94,2.12-2.06,2.69Zm-17.19-5.83c0-.4,0-.71,0-1.02,0-3.01-.05-6.01,.03-9.02,.02-.89,.25-1.85,.67-2.63,.73-1.36,2.03-1.98,3.58-1.83,1.39,.13,2.36,1.09,2.67,2.53,.13,.61,.19,1.25,.19,1.88,.02,3.06,0,6.12,0,9.18,0,.3,0,.6,0,.9h6.09c.02-.3,.04-.56,.04-.82,0-3.74,0-7.49,0-11.23,0-.6-.06-1.21-.16-1.8-.76-4.73-5.27-7.36-9.77-5.72-1.43,.52-2.62,1.38-3.72,2.66v-2.41h-5.72v19.34h6.08ZM9.75,18.97v19.34h5.99V18.97h-5.99Zm6.54-6.11c.01-2.05-1.47-3.58-3.49-3.59-2.05-.01-3.58,1.48-3.59,3.49-.01,2.05,1.47,3.58,3.49,3.59,2.05,.01,3.58-1.47,3.59-3.49Z" style="fill:rgb(33,33,33);"/><path d="M24.99,38.32h-6.08V18.98h5.72v2.41c1.1-1.28,2.28-2.14,3.72-2.66,4.5-1.63,9.01,1,9.77,5.72,.1,.59,.15,1.2,.16,1.8,.01,3.74,0,7.49,0,11.23,0,.26-.02,.51-.04,.82h-6.09c0-.29,0-.59,0-.9,0-3.06,.01-6.12,0-9.18,0-.63-.06-1.27-.19-1.88-.31-1.45-1.28-2.4-2.67-2.53-1.55-.15-2.85,.47-3.58,1.83-.42,.78-.65,1.74-.67,2.63-.08,3-.03,6.01-.03,9.02,0,.31,0,.62,0,1.02Z" style="fill:white;"/><path d="M9.75,18.97h5.99v19.34h-5.99V18.97Z" style="fill:white;"/><path d="M16.28,12.87c-.01,2.01-1.55,3.5-3.59,3.49-2.02-.01-3.5-1.54-3.49-3.59,.01-2.01,1.55-3.5,3.59-3.49,2.01,.01,3.5,1.54,3.49,3.59Z" style="fill:white;"/></svg>');
  z-index: 1001;
  margin: -.4em 0 0 0
}

.navActive:hover .linkedin {
  fill: rgb(240, 128, 128) !important;
  ilter: invert(8%) sepia(100%) saturate(2476%) hue-rotate(296deg) brightness(100%) contrast(19%);
  ackground: rgb(240, 128, 128) !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M42.18,44.15H5.78c-1.67-.84-2.07-2.28-2.01-4.02,.07-2.03,.02-4.06,.02-6.09,0-8.88,0-17.76,0-26.65,0-1.12,.16-2.25,1.18-2.85,.69-.41,1.57-.66,2.37-.67,8.38-.05,16.76-.03,25.14-.03,2.77,0,5.53,0,8.3,0,1.96,0,3.12,1.07,3.32,2.51,.01,.1,.1,.18,.15,.28V41.46c-.29,1.2-.94,2.12-2.06,2.69Zm-17.19-5.83c0-.4,0-.71,0-1.02,0-3.01-.05-6.01,.03-9.02,.02-.89,.25-1.85,.67-2.63,.73-1.36,2.03-1.98,3.58-1.83,1.39,.13,2.36,1.09,2.67,2.53,.13,.61,.19,1.25,.19,1.88,.02,3.06,0,6.12,0,9.18,0,.3,0,.6,0,.9h6.09c.02-.3,.04-.56,.04-.82,0-3.74,0-7.49,0-11.23,0-.6-.06-1.21-.16-1.8-.76-4.73-5.27-7.36-9.77-5.72-1.43,.52-2.62,1.38-3.72,2.66v-2.41h-5.72v19.34h6.08ZM9.75,18.97v19.34h5.99V18.97h-5.99Zm6.54-6.11c.01-2.05-1.47-3.58-3.49-3.59-2.05-.01-3.58,1.48-3.59,3.49-.01,2.05,1.47,3.58,3.49,3.59,2.05,.01,3.58-1.47,3.59-3.49Z" style="fill:rgb(240,128,128);"/><path d="M24.99,38.32h-6.08V18.98h5.72v2.41c1.1-1.28,2.28-2.14,3.72-2.66,4.5-1.63,9.01,1,9.77,5.72,.1,.59,.15,1.2,.16,1.8,.01,3.74,0,7.49,0,11.23,0,.26-.02,.51-.04,.82h-6.09c0-.29,0-.59,0-.9,0-3.06,.01-6.12,0-9.18,0-.63-.06-1.27-.19-1.88-.31-1.45-1.28-2.4-2.67-2.53-1.55-.15-2.85,.47-3.58,1.83-.42,.78-.65,1.74-.67,2.63-.08,3-.03,6.01-.03,9.02,0,.31,0,.62,0,1.02Z" style="fill:white;"/><path d="M9.75,18.97h5.99v19.34h-5.99V18.97Z" style="fill:white;"/><path d="M16.28,12.87c-.01,2.01-1.55,3.5-3.59,3.49-2.02-.01-3.5-1.54-3.49-3.59,.01-2.01,1.55-3.5,3.59-3.49,2.01,.01,3.5,1.54,3.49,3.59Z" style="fill:white;"/></svg>')
}

@media (max-width:990px) {
  .linkedin {
    margin-left: 0
  }
}

.arrow {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 19.23"><g id="a"/><g id="b"><g class="tester" id="c"><path d="M32.56,15.44L17.56,.44c-.28-.28-.66-.44-1.06-.44h0c-.4,0-.78,.16-1.06,.44L.44,15.45c-.28,.28-.44,.66-.44,1.06s.16,.78,.44,1.06l1.23,1.23c.29,.29,.68,.44,1.06,.44s.77-.15,1.06-.44L16.5,6.08l12.71,12.71c.59,.59,1.54,.59,2.12,0l1.23-1.23c.59-.59,.59-1.54,0-2.12Z" /></g></g></svg>');
  z-index: 1001;
  margin: .4rem 0 0 0;
  background-repeat: no-repeat;
  ilter: invert(98%)
}

.navActive:hover .arrow {
  filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(286deg) brightness(88%) contrast(119%);
  ransform: scale(1.25)
}

.navActive:hover .navActiveArrow {
  margin-top: 5px
}

@media (max-width:990px) {
  .arrow {
    display: none;
  }
}

.circlePos {
  position: absolute;
  display: block;
  max-width: 100%
}

#page1circle1,
#page1circle2,
#page1circle3 {
  Left: 0;
  Top: 0;
}

#page2circle1,
#page2circle2,
#page2circle3 {
  Left: 0;
  Top: 0;
}

#page3circle1,
#page3circle2,
#page3circle3 {
  Left: 0;
  Top: 0;
}

#page4circle1,
#page3circle2,
#page4circle3 {
  Left: 0;
  Top: 0;
}

#page5circle1,
#page4circle2,
#page5circle3 {
  Left: 0;
  Top: 0;
}

#page6circle1,
#page5circle2,
#page6circle3 {
  Left: 0;
  Top: 0;
}

#page7circle1,
#page6circle2,
#page7circle3 {
  Left: 0;
  Top: 0;
}

#page8circle1,
#page7circle2,
#page8circle3 {
  Left: 0;
  Top: 0;
}

#page9circle1,
#page8circle2,
#page9circle3 {
  Left: 0;
  Top: 0;
}

#page10circle1,
#page9circle2,
#page10circle3 {
  Left: 0;
  Top: 0;
}

#page11circle1,
#page10circle2,
#page11circle3 {
  Left: 0;
  Top: 0;
}

#page12circle1,
#page11circle2,
#page12circle3 {
  Left: 0;
  Top: 0;
}

#page13circle1,
#page12circle2,
#page13circle3 {
  Left: 0;
  Top: 0;
}

#page14circle1,
#page13circle2,
#page14circle3 {
  Left: 0;
  Top: 0;
}

#page15circle1,
#page14circle2,
#page15circle3 {
  Left: 0;
  Top: 0;
}

#page16circle1,
#page15circle2,
#page16circle3 {
  Left: 0;
  Top: 0;
}

#page17circle1,
#page16circle2,
#page17circle3 {
  Left: 0;
  Top: 0;
}

#page18circle1,
#page17circle2,
#page18circle3 {
  Left: 0;
  Top: 0;
}

#page19circle1,
#page18circle2,
#page19circle3 {
  Left: 0;
  Top: 0;
}

#page20circle1,
#page19circle2,
#page20circle3 {
  Left: 0;
  Top: 0;
}

#page1Message1,
#page1Message2,
#page1Message3 {
  display: none;
}

#page2Message1,
#page2Message2,
#page2Message3 {
  display: none;
}

#page3Message1,
#page3Message2,
#page3Message3 {
  display: none;
}

#page4Message1,
#page4Message2,
#page4Message3 {
  display: none;
}

#page5Message1,
#page5Message2,
#page5Message3 {
  display: none;
}

#page6Message1,
#page6Message2,
#page6Message3 {
  display: none;
}

#page7Message1,
#page7Message2,
#page7Message3 {
  display: none;
}

#page8Message1,
#page8Message2,
#page8Message3 {
  display: none;
}

#page9Message1,
#page9Message2,
#page9Message3 {
  display: none;
}

#page10Message1,
#page10Message2,
#page10Message3 {
  display: none;
}

#page11Message1,
#page11Message2,
#page11Message3 {
  display: none;
}

#page12Message1,
#page12Message2,
#page12Message3 {
  display: none;
}

#page13Message1,
#page13Message2,
#page13Message3 {
  display: none;
}

#page14Message1,
#page14Message2,
#page14Message3 {
  display: none;
}

#page15Message1,
#page15Message2,
#page15Message3 {
  display: none;
}

#page16Message1,
#page16Message2,
#page16Message3 {
  display: none;
}

#page17Message1,
#page17Message2,
#page17Message3 {
  display: none;
}

#page18Message1,
#page18Message2,
#page18Message3 {
  display: none;
}

#page18Message1,
#page18Message2,
#page18Message3 {
  display: none;
}

#page19Message1,
#page19Message2,
#page19Message3 {
  display: none;
}

#page20Message1,
#page20Message2,
#page20Message3 {
  display: none;
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    ransform: rotate3d(124, 124, 240, 0deg);
    transform: scale(1) rotate3d(124, 124, 240, 0deg)
  }

  20% {
    opacity: 0;
    fill: none;
    transform: scale(4) rotate3d(114, 114, 20, 290deg);
    ransform: rotate3d(114, 114, 20, 190deg)
  }

  60% {
    fill: rgba(255, 255, 255, .6)
  }

  100% {
    opacity: 1;
    fill: rgba(0, 0, 0, 1);
    filter: blur(10px)
  }
}

path {
  stroke: #000;
  fill: #000;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 6s;
  animation-duration: 7s;
  animation-timing-function: linear
}

.cross-icon #cross {
  width: 2em;
  height: 2em
}

.grid {
  margin: 0 auto
}

.grid-item {
  background: red;
  order: black 3px solid;
  margin: 0 auto
}

.sec2 {
  height: 900px;
  background: red
}

.section-gallery {
  min-height: 40rem
}

.section-skills {
  position: relative;
  padding: 4rem 0 1rem 0;
  min-height: 38rem;
  background: #333
}

.section-about {
  min-height: 35rem;
  background: #ccc;
  padding: 2rem
}

.section-contact {
  min-height: 5rem;
  background: gray
}

.profileText {
  text-align: justify;
  line-height: 1.5rem;
  position: relative;
  opacity: 0
}

.profileTextShift {
  text-align: justify;
  line-height: 1.5rem;
  position: relative;
  display: block;
  transition: 5s;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  margin: auto;
  padding-right: 0
}

@media (min-width:1000px) {
  .profileTextShift {
    padding-right: 10rem
  }
}

.profileImage {
  margin-top: 500px;
  opacity: 0;
  transition: 900ms;
  transition-delay: 40ms;
  z-index: 100
}

.profileImage2 {
  margin-top: 0;
  border-radius: 50%;
  border: solid lightcoral 5px;
  opacity: 1
}

.leftShift {
  margin-top: 0;
  opacity: 1;
  color: red;
  top: 0
}

.mainHeader {
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 8rem;
  align-items: center;
  text-align: center;
  font-weight: 200;
  padding-bottom: 0;
  position: relative;
  line-height: 1.75rem
}

.mainHeader2 {
  font-size: 180rem;
  opacity: 0;
  align-items: center;
  text-align: center;
  color: rgb(240, 128, 128);
  font-weight: 200;
  padding-bottom: 2rem;
  osition: relative;
  z-index: -100
}

.mainHeader3 {
  font-size: 5rem;
  opacity: 1;
  align-items: center;
  text-align: center;
  font-weight: 200;
  padding-bottom: 2rem;
  width: 100%
}

.headerSpacing {
  margin-top: 3rem
}

img-content {
  flex-grow: 2
}

.line-off {
  display: none;
  visibility: hidden
}

.line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 4px solid red;
  width: 0;
  text-align: center;
  animation: line 1s linear forwards;
  transform: translate(250px, 300px);
  z-index: 1000
}

@keyframes line {
  from {
    left: -11%;
    width: 0
  }

  to {
    left: -11%;
    width: 70%
  }
}

.noteButton {
  width: 100%;
  height: 30px;
  argin: auto;
  background: lightcoral;
  argin: 50px;
  border-radius: 3rem;
  osition: relative;
  ottom: -80px;
  font-size: .7rem;
  border: 0;
  color: #ddd
}

.noteButtonPlace {
  position: relative;
  margin: auto;
  padding: 2rem 0 0 0;
  float: right;
  width: 100%
}

.com-box {
  background: #eee;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  height: 100%;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .4);
  max-height: min(600px, 300px);
  overflow-x: hidden
}

.com-box2 {
  margin-top: 0;
  padding: .81rem;
  border-radius: .5rem;
  height: 100%;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .4), -3px -3px 3px 1px rgba(0, 0, 0, .1);
  ax-height: 500px;
  overflow-x: hidden;
  font-size: .7rem
}

@media (min-width:900px) {
  .com-box2 {
    max-height: 150px;
    margin-top: 1rem;
    padding: 1rem
  }
}

@media (min-width:692px) {
  .com-box2 {
    max-height: 275px
  }
}

@media (min-width:1200px) {
  .com-box2 {
    max-height: 350px
  }
}

@media (min-width:1500px) {
  .com-box2 {
    max-height: 900px
  }
}

.com-text-h1 {
  font-size: .7rem
}

.com-text-p {
  text-align: left;
  text-justify: inter-word;
  letter-spacing: .06rem
}

@media (min-width:1200px) {
  .com-text-p {
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: .04rem
  }
}

#box-test {
  background: yellow;
  position: absolute
}

/* #img-1 {
  max-height: 325px;
  padding-bottom: 1rem
}

@media (min-width:1070px) {
  #img-1 {
    max-height: 500px;
    padding-bottom: 1rem
  }
}

@media (min-width:1270px) {
  #img-1 {
    max-height: 620px
  }
} */

.ratio-16x7 {
  --bs-aspect-ratio: calc(7 / 16 * 100%)
}

.ratio-3x2 {
  --bs-aspect-ratio: calc(2 / 3 * 100%)
}

.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%)
}

.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%)
}

.titleSkills {
  text-align: center;
  color: white
}

img-fluid-width {
  width: auto;
  height: 300px
}

#movingDiv {
  argin-left: -500px;
  eft: -500;
  osition: relative;
  transition: 800ms;
  adding-left: -900px;
  argin-top: 900px;
  opacity: 0;
  left: 0
}

.mystyle {
  padding-left: 20px;
  left: 0;
  transition-duration: .2s;
  position: relative;
  width: 100%;
  ackground: #aaa
}

.dismiss {
  margin-top: 500px;
  position: relative;
  transition-duration: 4s;
  transition: 4s;
  opacity: 1;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out
}

.delay1 {
  transition-delay: 200ms
}

.delay2 {
  transition-delay: 500ms
}

.delay3 {
  transition-delay: 800ms
}

.delay4 {
  transition-delay: 1000ms
}

.borderA {
  order: .5px #666 dashed
}

.gray {
  filter: grayscale(100%)
}

.gray:hover {
  filter: grayscale(0%)
}

.bottomLevelBar {
  background: #666;
  width: 75%;
  height: 12px;
  opacity: 1;
  osition: relative;
  margin: .75rem 0 0 4rem;
  position: absolute;
  z-index: 1;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  border-radius: 1rem
}

.skill4 {}

.circleSkill4 {
  background: #000;
  idth: 65%;
  height: 10px;
  opacity: .5;
  visibility: hidden;
  position: absolute;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out
}

.circleSkill3 {
  background: #000;
  idth: 25%;
  height: 10px;
  opacity: .5;
  visibility: hidden;
  position: absolute;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out
}

.skillBar5Hide {
  visibility: hidden;
  position: absolute
}

.skillBar4Hide {
  visibility: hidden;
  position: absolute
}

.skillBar3Hide {
  visibility: hidden;
  position: absolute
}

.levelBar {
  visibility: visible;
  opacity: 0;
  height: 12px;
  margin: .75rem 0 0 4rem;
  z-index: 1;
  animation-fill-mode: forwards;
  border-top: lightcoral 1px solid;
  border-bottom: lightcoral 1px solid;
  border-left: lightcoral 1px solid
}

left:hover .skillBar5Hide {
  order: red 1px solid !important;
  animation-name: phase5;
  -webkit-animation-name: phase5;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-delay: 100ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -moz-animation-direction: forward;
  animation-direction: forward
}

.stop4 {
  animation-name: grow4;
  -webkit-animation-name: grow4;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 100ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out
}

.stop3 {
  animation-name: grow3;
  -webkit-animation-name: grow3;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 100ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out
}

.stop5 {
  animation-name: grow5;
  -webkit-animation-name: grow5;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 100ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out
}

.blank {
  opacity: 0;
  visibility: hidden
}

.z-100 {
  z-index: 1000
}

.skillTitle {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .125rem;
  padding-top: 3rem
}

@keyframes grow4 {
  0% {
    opacity: 0;
    width: 0;
    background-image: repeating-linear-gradient(0deg, #333, rgb(38, 40, 117), rgb(64, 224, 208))
  }

  25% {
    opacity: 0
  }

  50% {
    opacity: .25;
    background-image: repeating-linear-gradient(360deg, #333, rgb(25, 34, 58) 10%, rgb(64, 224, 208) 25%)
  }

  100% {
    width: 60%;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #111, #6cffe4 1%, rgb(64, 224, 208) 25%);
    border-radius: 0;
    border-radius: 1rem 0 0 1rem
  }
}

@keyframes grow3 {
  0% {
    opacity: 0;
    width: 0;
    background-image: repeating-linear-gradient(0deg, #111, rgb(38, 40, 117), rgb(64, 224, 208))
  }

  25% {
    opacity: 0
  }

  50% {
    opacity: .25;
    background-image: repeating-linear-gradient(360deg, #aaa, #666 10%, rgb(64, 224, 208) 25%)
  }

  100% {
    width: 45%;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #111, rgb(64, 224, 208) 1%, rgb(64, 224, 208) 33.33%);
    border-radius: 1rem 0 0 1rem
  }
}

@keyframes grow5 {
  0% {
    opacity: 0;
    width: 0;
    background-image: repeating-linear-gradient(0deg, #333, rgb(38, 40, 117), rgb(64, 224, 208))
  }

  25% {
    opacity: 0
  }

  50% {
    opacity: .25;
    background-image: repeating-linear-gradient(360deg, #aaa, #666 10%, rgb(65, 185, 255) 25%)
  }

  100% {
    width: 75%;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #333, rgb(64, 224, 208) 1%, rgb(64, 224, 208) 20%);
    border-radius: 1rem
  }
}

@keyframes phase5 {
  0% {
    opacity: 0;
    background-image: repeating-linear-gradient(90deg, #333, rgb(255, 176, 176), rgb(56, 253, 250));
    width: 5%
  }

  50% {
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #333, rgb(255, 176, 176), rgb(56, 253, 250));
    width: 75%
  }

  100% {
    width: 75%;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #333, rgb(255, 176, 176), rgb(56, 253, 250));
    border-radius: 1rem
  }
}

.left {
  float: left
}

.top-shift {
  margin: 7.75rem 0 0 0;
  position: relative
}

.sectionTitle {
  font-size: 1.5rem;
  ;
  argin-left: 2em;
  font-weight: 500;
  letter-spacing: .125rem;
}

section {
  padding-top: 0;
  margin-top: 0
}

.skillPercent {
  font-family: inherit;
  font-size: .7rem;
  text-align: right;
  color: #FFF;
  margin: 1rem .4rem 0 0
}

.skillName {
  font-family: inherit;
  font-size: .6rem;
  text-align: left;
  color: #FFF;
  margin: -1.25rem .4rem 0 .23rem;
  letter-spacing: .1rem
}

.appSkills {
  margin: 1rem;
  color: rgb(211, 211, 211)
}

.textSkillsBox {
  margin: 2rem 0 6rem 0
}

.name {
  margin-left: -1rem;
  font-size: 1rem;
}

@media (min-width: 1200px) {

  .name {
    margin-left: 0rem;
    font-size: 1.25rem;
  }
}



.accent-3 {
  color: rgb(87, 87, 87)
}

.numbertext {
  color: #959595;
  font-size: .65rem;
  height: 2rem;
  transition: 300ms;
  letter-spacing: .05rem
}

.subTitle {
  font-size: .75rem;
  padding: 0 0 .5rem 0;
  text-transform: uppercase;
  font-weight: 400
}

.subTitle {
  padding-top: 2rem
}

@media (min-width:600px) {
  .subTitle {
    font-size: 1rem
  }
}

#container2 {
  width: 100%;
  top: 0;
  margin-top: 40px;
  position: absolute;
  max-height: 170px;
  padding: 2rem 1rem 5rem 1rem;

cursor: pointer;
overflow-x: scroll;
overflow-y: hidden;
transition: 500ms;


}

#container2::after {

  content: "";
  clear: both;
  display: table;
 
}

.smallThnlRow {
  
  width: 180rem;
  

}


#navbarResponsive {
  background: #f0f0f0;
  margin-left: -0.75rem;

}


#rowStack {
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline;
  width: 100%;
  float: left;
 display: inline;
}


#secondContainer {



}


.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem  !important;
}


.navbar-toggler {
  background-color: rgba(212, 212, 212, .5);
  transition: 300ms
}

.navbar-toggler:hover {}

:-webkit-full-screen {}

:-ms-fullscreen {}

:fullscreen {}

.whole {
  height: 100%
}

.slideIcon {
  width: 2rem;
  float: left;
  filter: grayscale(100);
  box-shadow: 3px 3px 8px rgba(2, 2, 2, .7)
}

.slideIcon:hover {
  filter: grayscale(0)
}

.iconBox {
  top: 100%;
  margin-bottom: 0;
  padding-top: 1rem;
  position: relative;
  left: 25%
}

@media (min-width:650px) {
  .iconBox {
    margin: 1rem 0;
    padding-top: 1rem;
    left: 5%
  }
}

.outAtt {
  font-size: .6rem
}

.appBox {
  margin-bottom: 1rem;
  height: .2rem;
  margin: -1rem 0
}

.galbk {
  background: transparent

}

#skills {
  position: relative;
  top: -3rem
}

form {
  z-index: 1000;
  top: 5rem;
  position: relative
}

.fg-img {
  border-radius: .5rem
}

.fullBtn2 {
  border: .05rem solid #444 !important;
  font-size: .6rem !important;
  line-height: .75rem !important;
  transition: 200ms;
  letter-spacing: .05rem !important;
  color: #666 !important;
  margin: .5rem .75rem;
  border: 2px solid #777;
  background: transparent;
  display: none;
}

.fullBtn2:hover {
  background: #333 !important;
  color: lightcoral !important;
  transition: 200ms
}

@media (min-width:900px) {
  .fullBtn2 {
    border: .05rem solid #444 !important;
    font-size: .6rem !important;
    line-height: .75rem !important;
    transition: 200ms;
    letter-spacing: .05rem !important;
    color: #666 !important;
    margin: .5rem .75rem;
    border: 2px solid #777;
    background: transparent;
    display: inline;
    position: relative;
    
  }
}

.cardTxt {
  text-transform: uppercase;
  font-weight: 600
}

#drkMd {
  left: 2rem;
  position: relative;
  float: right;
  color: #aaa;
  font-size: .5rem;
  min-width: 6rem;
}

@media (min-width: 1000px) {
#drkMd {
  left: 0rem;
}
}

#drkMdBtn {
  height: 1rem;
  background-color: #eee;
  border: solid #111 1px;
  width: 2.6rem;
  border: 0;
  position: absolute;
  margin: 0 0 0 .5rem;
  border-radius: 2rem;
  
}

#drkDot {
  height: .9rem;
  width: .9rem;
  background: #ddd;
  border-radius: 2rem;
  position: relative;
  left: 0;
  top: .01rem;
  transition: 500ms
}

.dkmv {
  background: lightcoral !important;
  left: 1.25rem !important;
  transition: 500ms
}

#tick {
  margin-left: 4rem
}

#title1,#title2, #title3 {
  color: transparent;
}

.dark1-text {
  color:#888 !important;
}

#navbarmar {
  margin-right: 2rem;
}

#fullBtnSet {
position: absolute;
left: 50%;
}