.testA {
      position: fixed;
      ackground-color: red;
      width: 500px;
      height: 500px;
      left: 50%;

      top: 50%;

transform: translate(-50%, -50%);


}

.shoe {

      margin-top: auto;
      margin-bottom: auto;

}


.centerTest {
      position: fixed;
      width: 820px;
      height: 800px;
      left: 50%;
      ackground-image: url(../luft_cube-1.jpg);
      background-repeat: no-repeat;
      top: 50%;
      background-size: cover;
      transform: translate(-50%, -50%);
      transition: all 900ms;
      transition-timing-function: cubic-bezier(.65,.18,.59,.74);
}


.tester {

background-image: url(../cinemaLights.jpg);
transition: all 900ms;
transition-timing-function: cubic-bezier(.65,.18,.59,.74);
position: fixed;
width: 600px;
height: 600px;
left: 50%;
background-repeat: no-repeat;
top: 50%;
background-size: cover;
transform: translate(-50%, -50%);
olor: #FFF;

}


.text1 {
      color: black;
      margin-top:50%;
}


#box1 {
      width: 200px;
      background-color: yellow;
      height: 100px;
      osition: fixed;
      margin: auto;
      -index: 99 !important;
      verflow: hidden;
}



.messagePositionA {
      margin: 10px 10px 0px 0px;
      z-index: 1000;

}

.messagePositionB {
      margin: 10px 0px 0px 45px;
      z-index: 100;

}


box {
	width: 100px;
	background-color: red;


}




#cin {

margin-top: -500px;
width:100%;

}

#tin{

width:800px;
position: absolute;

}


h1 {
osition: fixed;
idth:50px;

}

#labelxy-1 {

width: 100px;
margin: 220px 0px 0px 120px;
font-weight: 600;

}

#labelxy-2 {

width: 100px;
margin: 0px 0px 0px 120px;;
font-weight: 600;
}

.play {

      position: fixed;
      ackground-color: red;
      width: 800px;
      height: 800px;
      left: 50%;

      top: 50%;

transform: translate(-50%, -50%);

}

button  {
      width: 80px;
      background-color: #FFF;
      height: 30px;
      color: white;
      margin: 10px 0px 0px 0px;

}


.tab {
      margin: 0px 0px 0px 0px;
      width: 25px;
      height: 25px;
      background-color: #444;
      border-radius: 5px;
      transition: all 900ms;
      transition-timing-function: cubic-bezier(.65,.18,.59,.74);


}



.tabOn {
      margin: 0px 0px 0px 40px;
      width: 25px;
      height: 25px;
      background-color: #444;
      border-radius: 5px;
      transition: all 900ms;
      transition-timing-function: cubic-bezier(.65,.18,.59,.74);

}

input {
      width: 120px;
      background-color: #bbb;

}

switch {
      margin: 15px 10px 0px 40px;
      color: red;

}

.display {
      margin: 50px 0px 0px 50px;
      transform:skew(5deg,-6deg) scaleX(0.65);
      width: 100px;
      height: 100px;
}

#output {
      argin: -10px 0px 0px 438px;
      ransform:skew(-1deg,-9deg) scaleX(1);
      width: 70px;
      height: 100%;



}

.dot {
      margin: 0px 0px 0px 0px;
      width: 25px;
      height: 25px;
      background-color: #444;
      border-radius: 5px;
      transition: all 900ms;
      transition-timing-function: cubic-bezier(.65,.18,.59,.74);

}

.button {
      background-color: #aaa;
      padding: 10px;
      border-radius: 10px;
      font-weight: 500;
      }

.loadtext {
      font-size:0.9rem;
      font-family: Arial;
}
